@model Book
<div class="container">
    <div class="row my-3">
        <div class=" col-12">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name">Title</label>
                    <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" placeholder="Enter Title">
                </div>
                <div class="mb-3">
                    <label for="description">Author</label>
                    <input type="text" class="form-control" id="Author" name="Author" value="@Model.Author" placeholder="Enter Author">
                </div>



                <div class="mb-3">
                    <label for="releaseDate">TotalCopies</label>
                    <input type="number" class="form-control" id="TotalCopies" name="TotalCopies" value="@Model.TotalCopies" placeholder="Enter the TotalCopies">
                </div>



                <div class="mb-3">
                    <label for="language">AvailableCopies</label>
                    <input type="number" class="form-control" id="AvailableCopies" name="AvailableCopies" value="@Model.AvailableCopies" placeholder="Enter the AvailableCopies">
                </div>
                <div class="mb-3">
                    <label for="posterUrl">ImageUrl</label>
                    <input type="file" class="form-control" id="ImageUrl" name="ImageUrl" onchange="previewImage(event)">
                </div>

                <!-- صورة العرض المبدئي -->
                <!-- صورة العرض المبدئي -->
                <div class="mb-3">
                    <img id="preview" src="~/Images/@Model.ImageUrl" alt="Preview"
                         style="max-width: 200px; border: 1px solid #ccc; padding: 5px; margin-top:10px;
            @(string.IsNullOrEmpty(Model.ImageUrl) ? "display:none;" : "display:block;")" />
                </div>
              



                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('preview');
            output.src = reader.result;
            output.style.display = 'block'; // يخلي الصورة تظهر بعد اختيارها
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>